
.panel-flex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
 /*  grid-auto-rows: 160px;   
  grid-auto-flow: dense; */
  gap: 1rem;
  align-items: start;
}
.one, .two , .tree {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.panel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.panel.vertical {
  grid-row: span 2; 
}

.panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.panel::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1.2rem;
  font-family: var(--ff-inconsolata);
  opacity: 0;
  transition: opacity 0.4s ease;
  text-align: center;
  padding: 1rem;
}

/* Efecto al hacer hover */
.panel:hover img {
  filter: blur(4px) brightness(0.7);
  transform: scale(1.05);
}

.panel:hover::after {
  opacity: 1;
}

@media (max-width: 768px) {
  .panel-flex {
    grid-template-columns: repeat(2, 1fr);
   /*  grid-auto-rows: 120px; */
  }
  .panel.vertical {
    grid-row: span 1; 
  }
}
