.wrapp-duo {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    min-height: 100vh;
}

.duo-title {
    font-family: var(--ff-noto-sans);
    font-size: 1.5rem;
    color: var(--clr-back);
}

.duo-hero {
    margin-top: 1rem;
    line-height: 1.4;
}

.duo-p {
    font-family: var(--ff-noto-sans);
    color: var(--clr-back);
    font-size: 1rem;
}

.duo-members {
    font-family: var(--ff-inconsolata);
    color: var(--clr-back);
    font-size: 1.1rem;
    margin-top: .5rem;
}

.duo-members span {
    font-weight: bold;
    color: var(--clr-back2);
    font-family: var(--ff-noto-sans);
    font-size: .9rem;
}

.duo-orquestal {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #16707ade;
}

.duo-orquestal p {
    margin-top: 1rem;
}

/* *****BOTONES******** */
.card-button1 {
    margin-top: 1rem;
}

.card-button1 a {
    text-decoration: none;
    color: var(--clr-back);
}

.card-icon1 {
    width: 22px;
    height: 22px;
}

.card-icon1:hover {
    cursor: pointer;
    color: var(--clr-back2);
}

@media (min-width: 768px) {
    .card-icon1 {
        width: 28px;
        height: 28px;
    }

}