.footer {
    background: var(--clr-back);
    color: var(--clr-title);
    font-family: var(--ff-inconsolata);
    /*    min-height: 100vh; */
    margin: 1rem;
    margin-bottom: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    padding: 3rem 1rem;
    z-index: 1;
}