/* Contenedor principal */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
    z-index: 1100;
    flex-direction: column;
    align-items: center;
}

/* Ocultar cuando scrollea hacia abajo */
.header.hidden {
    transform: translateY(-100%);
}

/* Fondo cuando se scrollea */
.header.scrolled {
    background: rgba(255, 255, 255, 0.6);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/* Navbar interna */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    top: 0;
    left: 0;

}

.logo:hover {
    cursor: pointer;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 32px;
    height: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1100;
    position: relative;
}

.menu-btn span {
    display: block;
    width: 100%;
    border-radius: 1px;
    background: #0f4d25;

    transition: transform 0.4s ease, opacity 0.4s ease;
    transform-origin: center;
}


.menu-btn span:nth-child(1) {
    height: 2px;
    background-color: #3c8f9c;
}

.menu-btn span:nth-child(2),
.menu-btn span:nth-child(3) {
    height: 2px;
}


.menu-btn.open span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 5px) scaleY(1);
}

.menu-btn.open span:nth-child(2) {
    opacity: 0;
}

.menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -5.1px)scaleY(1);
}

/* Menú */
.mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease;
    transform: translateY(100%);
    z-index: 1000;
}

.mobile-menu.open {
    transform: translateY(0);
    top: 0;
}


.mobile-menu ul {
    list-style: none;
    text-align: center;
}

.mobile-menu ul li {
    margin: 1.5rem 0;
}

.mobile-menu ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--clr-back2);
    font-family: var(--ff-inconsolata);
    position: relative;
}

/* .mobile-menu ul li a::before,
.mobile-menu ul li a::after {
    content: '';
    position: absolute; */
    /*  top: 0;
    width: 2px;
    height: 100%;
    background: var(--cl-back3);
    transform: scaleY(0);
    transition: transform 0.3s cubic-bezier(.77, 0, .18, 1); */
 /*    pointer-events: none;
}
 */
/* .mobile-menu ul li a::before {
    left: -6px;
    transform-origin: top;
}

.mobile-menu ul li a::after {
    right: -6px;
    transform-origin: bottom;
} */

/* .mobile-menu ul li a:hover::before,
.mobile-menu ul li a:hover::after {
    transform: scaleY(1);

} */

.mobile-menu ul li a::before {
    content: '(';
    color: var( --clr-title);
    display: inline-block;
    transition: color 2s, transform .1s .2s;
}

.mobile-menu ul li a::after {
    content: ')';
    color: var( --clr-title);
    display: inline-block;
    transition: color .2s, transform .1s .2s;
}

.mobile-menu ul li a:hover::before {
    transform: translateX(-.6rem);
    color:var( --cl-back3);
}

.mobile-menu ul li a:hover::after {
    transform: translateX(.6rem);
    color: var( --cl-back3);
}