.hero {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
 min-height: 100vh;
  overflow: hidden;
  position: relative;
}



.hero h1 {
  font-family: var(--ff-inconsolata);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-self: center;
  color: var(--clr-back);
  padding-bottom: 2rem;
  position: absolute;
  font-size: 2rem;
  left: 5%;
  bottom: 10%;
}

.word {
  display: inline-block;
  margin-right: 0.5rem;
}

.waves-japan {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  overflow: hidden;
}

.wave-svg {
  position: absolute;
  left: 0;
  width: 200%;
  height: 20%;
}

/* .waves-japan {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.wave-svg {
  position: absolute;
  left: 0;
  width: 200%; 
  height: 5%; 
}
 */