.hero {
  /*  background-color:#f9d5d3;   */
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
position: relative;
 background: url("portada-clau.jpg");
}



.hero  h1{
  font-family: var(--ff-inconsolata);
  display: flex;
  flex-direction: column;
  justify-content:start ;
  align-self: end;
  color: var(--clr-back);
  padding-bottom: 2rem;
position: absolute;
font-size: 2rem;
  left: 5%;
  bottom: 10%;
}