/* .hero{
    background-color:"#f9d5d3"; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
} */
.hero-p {
    font-family: var(--ff-noto-sans);
    color: var(--clr-back2);
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
    justify-self:end;
    align-items: end;
} 
.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* pantalla completa */
    background-image: url('/acuarela.png'); /* ruta desde public */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: circle(0% at 50% 50%); /* estado inicial */
}

.hero-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--clr-back);
    /* color que aparece */
    color: white;
    text-align: center;
}