/* 
.mannager-p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0 auto;
  color: var(--clr-title); 
  word-break: normal;       
  overflow-wrap: normal;    
  white-space: normal;
}

.mannager-p .char {
  display: inline-block; 
}

.wrapp-mannager {
  margin-top: 2rem;

}

.mannager-p span {
  display: inline-block;

}
 */