.section.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.presentacion-p .word {
    display: inline-block;
    white-space: normal;

}
.presentacion-p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--clr-title);
  font-family: var(--ff-noto-sans);

}
.highlight {
    color:  #77B0AA;
    font-weight: bold;

}

@media (min-width: 767px) {
    .presentacion-p {
        font-size: 1.4rem;
        line-height: 2.5rem;
        color: var(--clr-title);
        font-family: var(--ff-noto-sans);
    }
}