.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: start;
 min-height: 100vh;
overflow-y: hidden;
}

.presentacion-p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--clr-back);
    text-align: center;
}





.wrapp-presentacion {
  display: flex;
  text-align: center;
  justify-content: center; 
  background-color: var(--clr-title);
  padding: 2rem;
  border-radius: 5px;
  max-width: 500px;

}


.presentacion-p span {
    display: inline-block;
}