.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    min-height: 100vh;
    overflow-x: hidden;
    margin-top: 3rem;
}

.presentacion-p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--clr-back);
    text-align: center;
}

.wrapp-presentacion {
    display: flex;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
}

/* .presentacion-p span {
    display: inline-block;
}
 */
@media (min-width: 1200px) {
    .presentacion {
        justify-content: center;
        margin-top: 0;
    }
}