.produccion-subtitle {
    font-family: var(--ff-inconsolata);
    color: var(--clr-title);
    margin-top: 2rem;
    font-size: 1.5rem;
    align-self: start;
    justify-self: start;
    text-wrap: balance;
}

.produccion-grid {
    display: flex;
    flex-direction: column;
    /* una debajo de otra en mobile */
    gap: 0;
    width: 100%;
    margin-top: 2rem;
}

.produccion-item {
    width: 100%;
    /*   border-radius: 12px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem 1.5rem;
    color: var(--clr-title);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: background 0.4s ease;
    font-family: var(--ff-inconsolata);
    border-top: 1px solid #77b0aa;

}

.produccion-item {
    background-color: var(--clr-back2);
    /*  #43AA8B */
    /*  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease */
    ;
}

.produccion-item:hover {
    /*   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); */
    background-color: #43aa8b
}

.produccion-item.expanded {
    /*   transform: scale(1.02); */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    background-color: #77B0AA;
}


.produccion--extra {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.produccion-content img {
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.produccion-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    font-weight: bold;
}

.produccion-item p {
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.produccion-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 900;
}

.produccion-overlay.active {
    opacity: 1;
    pointer-events: all;
}


@media (min-width: 768px) {
    .produccion-grid {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        column-gap: .5rem;
    }

    .produccion-item {
        width: 100%;

        flex: 1 1 calc(50% - 1rem);
    }

    /*    .produccion-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

    }
 */
    .produccion-extra {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        align-items: center;
        gap: 0rem;
        padding-bottom: .3rem;
    }

    .produccion-content img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        display: grid;
        justify-self: end;
    }

    .produccion-item:first-child img {
      height: 300px;
        object-fit: contain;
    }
  .produccion-item:nth-child(2) img {
        height: 280px;
        object-position: contain;
    }
    .produccion-item:nth-child(n+4) img {
        height: 320px;
        object-position: contain;
    }
}