@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    scroll-behavior: smooth;

    /* VARIABLES */
    --ff-figtree: 'Figtree', sans-serif;
    --ff-inconsolata: 'Inconsolata', monospace;
    --ff-noto-sans: 'Noto Sans', sans-serif;
    --ff-satisfy: 'Satisfy', cursive;
    --clr-back: #003C43;
    --clr-title: #E3FEF7;
    --clr-back2: #135D66;
    --cl-back3: #77B0AA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem;
    scroll-margin-top: 2rem;
    /*   min-height: 100vh; */
    margin: 1rem;
    border-radius: 5px;

}



.section-title {
    font-family: var(--ff-inconsolata);
    color: var(--clr-back);
    margin-inline-start: 0;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .section-title {
        font-size: 2rem;
    }
}

/********* SECCIONES *********/


.mannager {
    background-color: var(--clr-back);
    /*     min-height: 100vh; */
    position: relative;
    z-index: 2;

}

.mannager .section-title {
    color: var(--clr-title);
}

.cellista {
    background-color: var(--cl-back3);
    min-height: 100vh;
    z-index: 3;
    position: relative;
}

.cellista .section-title {
    color: var(--clr-title);
}

.clases {
    background-color: var(--clr-back2);
    min-height: 100vh;
    z-index: 3;
    position: relative;
}


.clases .section-title {
    color: var(--clr-title);
}

.bio {
    background-color: var(--cl-back3);
    min-height: 100vh;
    z-index: 3;
}

.contacto {
    background-color: var(--clr-title);
    min-height: 100vh;
    z-index: 3;
    position: relative;
}